{%extends 'base.html' %}
{% block content %}

    <!-- <h1 class="addprod-h1">Add New Products</h1> -->
    <form enctype="multipart/form-data" method="POST" class="add-form" >
        {% csrf_token %}
        <div class="input-div">
            <input type="number" class="input-col" name="p_id"  placeholder="Product Id">
            <span class="focus-border"></span>
        </div>
        <div class="input-div">
            <input type="text" class="input-col" name="p_name"  placeholder="Product Name">
            <span class="focus-border"></span>
        </div>
        <div class="input-div">
            <input type="text" class="input-col" name="p_description" placeholder="Product Description">
            <span class="focus-border"></span>
        </div>
        <div class="input-div">
            <input type="number" class="input-col" name="p_price"  placeholder="Product Price">
            <span class="focus-border"></span>
        </div>
        <div class="input-div">
            <select c id="inputGroupSelect01" name="p_category" class="select-input">
                <option class="select-option" selected>Category</option>
                {% for category in categories %}
                <option value="{{category.c_id}}">{{category.c_name}}</option>
                {% endfor %}
            </select>
            <span class="focus-border"></span>
        </div>   
        <div class="input-div"> 
            <span class="span-file">upload file</span>
            <input type="file" class="input-col" name="p_img"  placeholder="Product Img">
            <div class="upload-icon"><i class="fas fa-file-upload"></i></div>
            <span class="focus-border"></span>
        </div>
        <div class="submit-div">
            <button class="sub-btn" type="submit" formaction="{% url 'add_product' %}">Submit</button>
        </div>
    </form>
    
{% endblock %}